html, body {margin:0;padding:0;height:100%;overflow: hidden;}


.dot {
    height: 10vw;
    width: 15vh;
    background-color: #919191;
    border-radius: 50%;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
  }

.container1{
    display: grid;
    height: 70%;
    grid-template-columns: auto auto auto;
    align-content: center;
    vertical-align: middle;
}

.hidden{
  visibility: hidden;
}

#result_text{
  margin-top: -100px;
  color: #fafafa;
}

h2{
  color: #fafafa;
}

.logo{
  height: 64px;
}

body{
  background-color: #212121;
}