html, body {margin:0;padding:0;height:100%;overflow: hidden;}


.dot {
    height: 15vw;
    width: 20vh;
    background-color: #919191;
    border-radius: 50%;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
  }

.square{
  height: 25vw;
  width: 25vh;
  background-color: #919191;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.container1{
    display: grid;
    height: 70%;
    grid-template-columns: auto auto auto;
    align-content: center;
    vertical-align: middle;
}

.hidden{
  visibility: hidden;
}

h2{
  color: #fafafa;
}

.logo{
  height: 64px;
}

#timer{
  border:2px dashed yellow;
}

body{
  background-color: #212121;
}