extends layout

block content          
    div.group_btns
      .row
      .col.s12.center.col_spacing
        a(class='waves-effect waves-light btn-large grey darken-2' href='/judge/1')
          | Left Judge
      .row
      .col.s12.center.col_spacing
        a(class='waves-effect waves-light btn-large grey darken-2' href='/judge/2')
          | Head Judge
      .row
      .col.s12.center.col_spacing
        a(class='waves-effect waves-light btn-large grey darken-2' href='/judge/3')
          | Right Judge