extends layout

block content
    nav
      .nav-wrapper
        a.brand-logo(href='#') Logo
          
    div.group_btns
      .row
      .col.s12.center
        a(class='waves-effect waves-light btn-large' href='/judge/1')
          | Left Judge
      .row
      .col.s12.center
        a(class='waves-effect waves-light btn-large' href='/judge/2')
          | Head Judge
      .row
      .col.s12.center
        a(class='waves-effect waves-light btn-large' href='/judge/3')
          | Right Judge