extends layout

block content
  h1(id='judge_id') #{judge_id} Judge
  
    script.
        const socket = new WebSocket("ws://localhost:1080");
        function parse_for_id(){
            var text = document.getElementById('judge_id').textContent;
            split_strings = text.split(" ")
            id = null
            if (split_strings[0] === "Left"){
                id = '1'
            }
            else if(split_strings[0] === "Head"){
                id = '2'
            }
            else{
                id = '3'
            }
            return id
        }
        var is_good_lift = function(value) {
            console.log('here')
            var is_good = (value === 'true');
            var id = parse_for_id()
            socket.send(JSON.stringify({judge_id: id, is_good_from_judge: is_good}));
        }
        // Connection opened
        //- socket.addEventListener('open', function (event) {
        //-     socket.send('Hello Server!');
        //- });

        socket.addEventListener('message', function (data) {
            console.log(data);
        });


  div.group_btns
      .row
      .col.s12.center.col_spacing
       button(class='waves-effect waves-dark btn-large white result_btns' onclick='is_good_lift("true")') Good
      .row
      .col.s12.center.col_spacing
       button(class='waves-effect waves-dark btn-large red result_btns' onclick='is_good_lift("false")') No Good