extends layout

block content
  h1(id='judge_id') Judge #{judge_id}
  
    script.
        const socket = new WebSocket("ws://localhost:1080");
        function parse_for_id(){
            var text = document.getElementById('judge_id').textContent;
            split_strings = text.split(' ')
            return split_strings[1]
        }
        var is_good_lift = function(value) {
            var is_good = (value === 'true');
            var id = parse_for_id()
            socket.send(JSON.stringify({judge_id: id, is_good_from_judge: is_good}));
        }
        // Connection opened
        //- socket.addEventListener('open', function (event) {
        //-     socket.send('Hello Server!');
        //- });

        socket.addEventListener('message', function (data) {
            console.log(data);
        });


  div(class='btn_container')
    button(class='good_lift lift_btn' onclick='is_good_lift("true")') Lift is Good

    button(class='bad_lift lift_btn' onclick='is_good_lift("false")') Lift is Bad