html, body {margin:0;padding:0;height:100%;background-color: #212121;}

#judge_id{
  color: #fafafa;
}

h1{
  text-align: center;

}

a {
  color: #00B7FF;
}

.group_btns{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.col_spacing{
  padding-bottom: 150px;
}

.selection_text{
  margin-top: auto;
  margin-bottom: auto;
}

.result_btns{
  color: black !important
}

.disabled{
  pointer-events: none;
}

@media screen and (min-width: 100px) and (max-width: 1200px){
  .judge_selection_btns, .result_btns{
    font-size: 32px !important;
    width: 500px;
    height: 120px !important;
  }
  .selection_text{
    margin-top: 35px;
  }
}