html, body {margin:0;padding:0;height:100%;background-color: #212121;}

#judge_id{
  color: #fafafa;
}

h1{
  text-align: center;

}

.lift_btn{
  padding: 10px;
  grid-column: 1;
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


.bad_lift{
  margin-top: 20px;
}

a {
  color: #00B7FF;
}

.group_btns{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.col_spacing{
  padding-bottom: 50px;
}