html, body {margin:0;padding:0;height:100%;background-color: #212121;}

#judge_id{
  color: #fafafa;
}

h1{
  text-align: center;

}

a {
  color: #00B7FF;
}

.group_btns{
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.col_spacing{
  padding-bottom: 150px;
}

.selection_text{
  margin-top: auto;
  margin-bottom: auto;
}

.result_btns{
  color: black !important;
  font-size: 16px !important;
  width: 200px;
  height: 80px !important;
}

.disabled{
  pointer-events: none;
}

.checkmark{
  width: 30px;
  height: 20px;
  float: left;
  visibility: hidden;
  margin-top: 30px;
}

.judge_btn_text{
  margin-right: 15px;
}

.logo{
  height: 64px;
}

#localIP{
  color: white;
}

@media screen and (hover: none) and (pointer: coarse){
  .judge_selection_btns, .result_btns{
    font-size: 32px !important;
    width: 500px;
    height: 120px !important;
  }
  .selection_text{
    margin-top: 35px;
  }
  .checkmark{
    width: 50px;
    height: 50px;
    float: left;
    visibility: hidden;
    margin-top: 30px;
  }

  .group_btns{
    top: 50%;
  }
}